@media (max-width: 600px) {
    body {
        background-color: #5c1f1f;
        color: white;
        padding: 0;
        margin: 0;
        font-family: "Times New Roman", sans-serif;
    }

    main {
        background-color: #a73232;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 400px;
        max-width: 100%;
        text-align: center;
        margin: 10px;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 5px 8px 8px rgba(0, 0, 0, 0.3);
    }

    #kadsa-logo {
        border-radius: 100px;
        box-shadow: 0px 1px 8px 8px rgba(0, 0, 0, 0.3);
        width: 200px;
        max-width: 100%;

    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .earing1 img {
        width: 170px;
        max-width: 100%;
        border-radius: 15px;
        height: auto;
        box-shadow: 0px 5px 8px 8px rgba(0, 0, 0, 0.3);
        margin-left: 20px;
    }

    .new {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        flex-direction: row-reverse;
    }

    #h3 {
        text-decoration: underline;
    }

    footer img {
        width: 50px;
        max-width: 100%;
        border-radius: 13px;
    }

    .footer {
        font-size: 12px;
    }

    .earings p {
        font-size: 16px;
    }

    .about p {
        font-size: 16px;
    }

    /* ________________________________________________________  */
    /* .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 10px;
    }

    .arrow {
        border: none;
        font-size: 20px;
        cursor: pointer;
        padding: 5px;
        background: none;
        padding-top: 5px;
        padding-bottom: 10px;

    }

    .image-box img {
        width: auto;
        height: 250px;
        max-height: 100%;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.3s ease;
        border-radius: 15px;
    }
} */

    /* ___________________________________________________________  */
    /* displaying the picture once it's tapped */
    .thumbnail {
        width: 150px;
        height: auto;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.03s;
    }

    .thumbnail:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }

    /* Modal styling */
    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        max-width: 90%;
        max-height: 90%;
        border-radius: 15px;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        color: white;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }